{% extends "base.html" %}

{% block title %}Upload{% endblock %}

{% block content %}
<div class="padding_left">\

    <form method="POST" action="{{ url_for('upload.upload') }}" enctype="multipart/form-data">
        <div class="dropper dz-clickable" id="myDropzone"></div>
        <input type="button" name="submit" value="Submit" id="submit">
    </form>

</div>

<script>

    dropzone.options.myDropzone = {
        url: "{{ url_for('upload.upload') }}",
        paramName: "file",
        autoprocessQueue: false,
        ignoreHiddenFiles: false,
        chunking: true,
        forceChunking: true,
        maxFilesize: 1025,
        chunkSize: 10000000,
        init: function () {
            dzClozure = this;
            document.getElementById("submit").addEventListener("click", function (e) {
                e.preventDefault();
                e.stopPropagation();
                dzClosure.processQueue();
            });
        }
    };

</script>
{% endblock %}