<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | UploadIt</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',  filename='vendor/dropzone/dropzone.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static',  filename='vendor/fontawesome/css/all.min.css') }}" type="text/css" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/landing.css') }}">
    

    <script src="{{ url_for('static', filename='vendor/popper/popper.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
    <script src="{{ url_for('static', filename='vendor/dropzone/dropzone.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/scripts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/landing.js') }}"></script>

    {% if request.path == url_for('download.download') %}
        <script src="{{ url_for('static', filename='js/download.js') }}"></script>
    {% endif %}


    {% if request.path == url_for('upload.upload') %}
        <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
    {% endif %} 

</head>

<body>
    <header class="sticky-top">
        {% include "includes/navbar.html" %}

        {% with errors = get_flashed_messages(category_filter=['error']) %}
            {% if errors %}
                {% for error in errors %}
                    <div class="alert alert-danger alert-dismissible fade show shadow mx-3" role="alert" style="z-index: 1040">
                        <strong>Error!</strong>: {{ error }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="container-fluid position-fixed p-3" style="z-index: 1050" id="messages">
            {% with messages = get_flashed_messages(category_filter=['alert']) %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="toast-container position-static message">
                            <div class="toast show" role="alert" aria-live="assertive" aria-atomic="true">
                                <div class="toast-header">
                                    <i class="fa-regular fa-bell me-3 fa-sm"></i>                                  
                                    <strong class="me-auto">UploadIt Alert</strong>
                                    <div>
                                    <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                                    </div>
                                </div>
                                <div class="toast-body">
                                    {{ message }}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </header>
    <div class="{% if request.path != url_for('index.index') %} container-fluid {% endif %}" >
        {% block content %}{% endblock %}
    </div>
</body>

</html>