{% extends "base.html" %}

{% block title %} Download {% endblock %}

{% block content %}
<div class="mb-3">
	<ul class="nav nav-tabs" role="tablist">
		<li class="nav-item" role="presentation">
			<button class="nav-link active" id="key-tab" data-bs-toggle="tab" data-bs-target="#key-tab-pane" type="button"
				role="tab" aria-controls="key-tab-pane" aria-selected="true">Key</button>
		</li>
		<li class="nav-item" role="presentation">
			<button class="nav-link" id="browse-tab" data-bs-toggle="tab" data-bs-target="#browse-tab-pane" type="button"
				role="tab" aria-controls="browse-tab-pane" aria-selected="false">Browse</button>
		</li>
	</ul>
	<div class="tab-content">
		<div class="tab-pane fade show active" id="key-tab-pane" role="tabpanel" aria-labelledby="key-tab" tabindex="0">
			{% include "includes/download/download-form.html" %}
		</div>
		<div class="tab-pane fade" id="browse-tab-pane" role="tabpanel" aria-labelledby="browse-tab" tabindex="0">
			{% include "includes/download/browse.html" %}
		</div>
	</div>
</div>
{% endblock %}