{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}

<!-- Masthead-->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">
        <!-- Masthead Avatar Image-->
        <img class="masthead-avatar mb-5 mt-5" src="{{ url_for('static', filename='images/logo.svg') }}" style="width:10%" alt="..." />
        <!-- Masthead Heading-->
        <h1 class="masthead-heading text-uppercase mb-0">UploadIt</h1>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Masthead Subheading-->
        <p class="masthead-subheading font-weight-light">Upload - Download</p>
    </div>
</header>

<!-- About Section-->
<section class="page-section mb-0" id="about">
    <div class="container">
        <!-- About Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase">Welcome to UploadIt</h2>
        <!-- Icon Divider-->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- About Section Content-->
        <div class="row">
            <div class="col-lg-4 ms-auto"><p class="lead">Hiya! I'm s4xD_t0y, the thirteen year old who built <i>UploadIt</i>...Feel free to open an issue at the Github repo if you find a bug or have a feature-request.</p></div>
            <div class="col-lg-4 me-auto"><p class="lead">If all you want to do is download a file, then no account is required! Take the tour below to begin your journey at UploadIt.</p></div>
        </div>
        <!-- About Section Button-->
        <div class="text-center mt-4">
            <button class="btn btn-xl btn-primary" id="btn" onclick="changeText()">
                <i class="fas fa-download me-2"></i>
                <span id="conversationText">Do absolutely nothing!</span>
            </button>
        </div>
    </div>
</section>

<!-- Portfolio Section-->
<section class="page-section portfolio bg-primary" id="portfolio">
    <div class="container">
        <!-- Portfolio Section Heading-->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">UploadIt Tour</h2>
        <!-- Icon Divider-->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
            <div class="divider-custom-line"></div>
        </div>
        <!-- Portfolio Grid Items-->
        <div class="row justify-content-center">
            <!-- Portfolio Item 1-->
            <div class="col-md-6 col-lg-4 mb-5">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal1">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                     <img class="img-fluid" src="{{ url_for('static', filename='images/portfolio/cabin.png') }}" alt="..." />
                </div>
            </div>

            <!-- Portfolio Item 2-->
            <div class="col-md-6 col-lg-4 mb-5 mb-md-0">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal2">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{{ url_for('static', filename='images/portfolio/safe.png') }}" alt="..." />
                </div>
            </div>

            <!-- Portfolio Item 3-->
            <div class="col-md-6 col-lg-4 mb-5 mb-lg-0">
                <div class="portfolio-item mx-auto" data-bs-toggle="modal" data-bs-target="#portfolioModal3">
                    <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                        <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                    </div>
                    <img class="img-fluid" src="{{ url_for('static', filename='images/portfolio/game.png') }}" alt="..." />
                </div>
            </div>
        </div>
    </div>
</section>


<!-- Footer-->
<footer class="footer text-center">
    <div class="container">
        <div class="row">
            <!-- Footer Location-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Location</h4>
                <p class="lead mb-0">
                    Don't Ask...
                    <br/>
                    just don't.
                </p>
            </div>
            <!-- Footer Social Icons-->
            <div class="col-lg-4 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Around the Web</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/s4Dt0y"><i class="fab fa-fw fa-github"></i></a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://stackoverflow.com/users/24416492/s4d-t0y?tab=profile"><i class="fab fa-fw fa-stack-overflow"></i></a>
            </div>
            <!-- Footer About Text-->
            <div class="col-lg-4">
                <h4 class="text-uppercase mb-4">About UploadIt</h4>
                <p class="lead mb-0">
                    UploadIt is a free to use, MIT licensed file sharing service created by
                    <a href="https://github.com/s4Dt0y"><i>s4xD_t0y</i></a>
                    .
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Copyright Section-->
<div class="copyright py-4 text-center text-white">
    <div class="container"><small>Copyright &copy; UploadIt 2023</small></div>
</div>
<!-- Portfolio Modals-->
<!-- Portfolio Modal 1-->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" aria-labelledby="portfolioModal1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Simple</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <i class="fa-solid fa-code fa-2xl mb-4"></i>                            
                            
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">UploadIt is not like other file sharing services you have used. We do file uploading and file downloading with no fluff in between. Our main priorities are the user, performance, and speed.</p>
                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 2-->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" aria-labelledby="portfolioModal2" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Secure</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <i class="fa-solid fa-lock fa-2xl mb-4"></i>                            
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">We want to make sure that file you are downloading is the file you expect. This service will likely be used to host malware traps for unsuspecting users. If you find a sketchy file, please report it.</p>
                            <button class="btn btn-primary" data-bs-dismiss="modal">
                                <i class="fas fa-xmark fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 3-->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" aria-labelledby="portfolioModal3" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header border-0"><button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button></div>
            <div class="modal-body text-center pb-5">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title-->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Controller</h2>
                            <!-- Icon Divider-->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image-->
                            <i class="fa-solid fa-door-open mb-4 fa-2xl"></i>
                            <!-- Portfolio Modal - Text-->
                            <p class="mb-4">So, let's get started. We would like to welcome you into the UploadIt community!</p>

                            <a href="{{ url_for('auth.register') }}" class="btn btn-primary">
                                    Sign Up Now
                                    <i class="fa-solid fa-right-to-bracket"></i>
                            </a>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    function changeText() {
        var elem = document.getElementById('conversationText');
        console.log(elem.innerHTML)
        var text = elem.innerHTML.trim()
        if (text == "Do absolutely nothing!") elem.innerHTML = "Fun, isn't it?"
        else if (text == "Fun, isn't it?") elem.innerHTML = "Wow, you love uselessness, don't you?"
        else if (text == "Wow, you love uselessness, don't you?") elem.innerHTML = "Okay, that's enough..."
        else if (text == "Okay, that's enough...") elem.innerHTML = "PLEASE STOP!!"
        else if (text == "PLEASE STOP!!") elem.innerHTML = "Okay, now we're done. Period."
        else if (text == "Okay, now we're done. Period.") elem.innerHTML = "Okay, now we're done. Period period."
        else if (text == "Okay, now we're done. Period period.") elem.innerHTML = "IK YOU CAN'T HAVE TWO PERIODS!!!!"
        else if (text == "IK YOU CAN'T HAVE TWO PERIODS!!!!") elem.innerHTML = "I WAS TRYING TO MAKE A POINT!!!!"
        else if (text == "I WAS TRYING TO MAKE A POINT!!!!") elem.innerHTML = "Ugh...I think I'm blacking out."
        else if (text == "Ugh...I think I'm blacking out.") document.getElementById('conversationText').disabled = true;

    }

</script>
{% endblock %}
