{% extends "base.html" %}

{% block title %}Reset Password{% endblock %}

{% block content %}
<form action="{{ url_for('users.reset_password_request') }}" method="post">
    {{ form.hidden_tag() }}
    <div class="form-group">
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control") }}
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ email }}]</span>
            {% endfor %}
        </p>
    </div>
    <p>{{ form.submit(class="btn btn-outline-secondary") }}</p>
</form>
{% endblock %}
