<nav 
    class="navbar navbar-expand-lg bg-body-tertiary d-flex bg-dark border-bottom border-body {% if request.path != url_for('index.index') %} mb-3 {% endif %}" 
    id="mynavbar">
        <div class="container-fluid">
            <a class="navbar-brand fs-3" href="{{ url_for("index.index") }}">
                {% if request.path == url_for('download.download') %}DownloadIt{% else %}UploadIt{% endif %}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse fs-5" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link {{'active' if request.path == url_for('download.download')}}"
                            aria-current="page" href="{{ url_for("download.download") }}">Download</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{'active' if request.path == url_for('upload.upload')}}"
                            aria-current="page" href="{{ url_for("upload.upload") }}">Upload</a>
                    </li>
                    {% if current_user.is_anonymous %}
                    <li class="nav-item dropdown btn-group" style="position:absolute; right:5%; width: 10%">
                        <button class="btn btn-outline-primary dropdown-toggle text-white mt-1 me-4" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            Login
                        </button>
                        <ul class="dropdown-menu dropdown-menu-right me-4">
                            <li><a class="nav-link link-dark {{'active' if request.path == url_for('users.login')}}"
                                aria-current="page" href="{{ url_for("users.login") }}">Login</a></li>
                            <li><a class="dropdown-item" href="#"><a class="nav-link link-dark{{'active' if request.path == url_for('users.register')}}"
                                aria-current="page" href="{{ url_for("users.register") }}">Register</a></a></li>
                        </ul>
                    </li>
                    {% else %}
                    <a class="nav-link me-3 {{'active' if request.path == url_for('users.logout')}}"
                    aria-current="page" href="{{ url_for("users.logout") }}" style="position:absolute; right:0;"
                    >Logout</a>

                    <a class="nav-link me-3 {{'active' if request.path == url_for('users.logout')}}"
                    aria-current="page" href="{{ url_for("users.logout") }}" style="position:absolute; right:0;"
                    >Logout</a>
                    {% endif %}
                    </div>
                </ul>
            </div>
</nav>

