{% extends "base.html" %}

{% block content %}
    <h1>Register</h1>
    <form action="{{ url_for('auth.register') }}" method="post">
        {{ form.hidden_tag() }}
        <div class="form-group">
            <p>
                {{ form.username.label }}<br>
                {{ form.username(class="form-control") }}
                {% for error in form.username.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>
        </div>
        <div class="form-group">
            <p>
                {{ form.email.label }} <small class="form-text text-muted">(We'll never share your email with anyone else.)</small>
                <br>
                {{ form.email(class="form-control") }}
                {% for error in form.email.errors %}
                <span class="invalid-feedback">{{ error }}</span>
                {% endfor %}
            </p>
        </div>
        <div class="form-group">
            <p>
                {{ form.password.label }}<br>
                {{ form.password(class="form-control") }}<br>
                {% for error in form.password.errors %}
                <span class="invalid-feedback">{{ error }}</span>
                {% endfor %}
            </p>
        </div>
        <div class="form-group">
            <p>
                {{ form.password2.label }}<br>
                {{ form.password2(class="form-control") }}<br>
                {% for error in form.password2.errors %}
                <span class="invalid-feedback">{{ error }}</span>
                {% endfor %}
            </p>
        </div>
        <p>{{ form.submit(class="btn btn-lg btn-success") }}</p>
    </form>
{% endblock %}